.movieCard {
  text-align: center;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details {
  height: 150px;
}

.movieCard img {
  min-height: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}